/* overall box style */
.recruitTalent { width: 180px; margin: 0 auto; }
.recruitTalent div { margin: 0 auto; }

/* text color when colorBackground is true (background matches needs colors) */
.usebg { color: #000; }

/* needs color used in tooltips (works for text and background) */
.high { color: #0f0; }
.medium { color: #ff0; }
.low { color: #f00; }
.none { color: #999; }

/* opacity used on images */
.talentIcons .high { opacity: 1; filter: alpha(opacity=100); }
.talentIcons .medium { opacity: .8; filter: alpha(opacity=80); }
.talentIcons .low { opacity: .65; filter: alpha(opacity=65); }
.talentIcons .none { opacity: .5; filter: alpha(opacity=50); }

/* ".classIcon" contains the icon and text,
   ".classIcon span" only contains the class name text */
.classIcon { width: 60%; float: left; padding-left: 30px; width: 30px; height: 18px; line-height: 22px; }
.classIcon span { padding: 0 5px; }
.empireClassIcon { background: url(../images/icons-swtorclasses.png) no-repeat; }
.republicClassIcon { background: url(../images/icons-swtorclasses2.png) no-repeat; }

/* contains all 3 talent tree icons */
.talentIcons { width: 42px; display: block; float: right; padding: 2px; }
.clear { clear: both; }

/* icons */
.groupIcon { width: 100%; height: 57px; display: block; text-indent: -999em; }
.talentIcon { display: block; float: left; width: 21px; height: 21px; }
.empireTalentIcon { background: url(../images/icons-swtortalents.png) no-repeat; }
.empireGroupIcon { background: url(../images/icons-swtorgroups.png) no-repeat; }
.republicTalentIcon { background: url(../images/icons-swtortalents2.png) no-repeat; }
.republicGroupIcon { background: url(../images/icons-swtorgroups2.png) no-repeat; }

/* talent and class sprites */
.icon_sithwarrior, .icon_jediknight { background-position: 0 0; }
.icon_sithinquisitor, .icon_jediconsular { background-position: 0 -58px; }
.icon_bountyhunter, .icon_smuggler { background-position: 0 -115px; }
.icon_imperialagent, .icon_trooper { background-position: 0 -174px; }

.icon_juggernaut, .icon_guardian { background-position: 0 0; }
.icon_maurader, .icon_sentinel { background-position: 0 -50px; }
.icon_assassin, .icon_sage { background-position: 0 -100px; }
.icon_sorceror, .icon_shadow { background-position: 0 -150px; }
.icon_powertech, .icon_scoundrel { background-position: 0 -200px; }
.icon_mercenary, .icon_gunslinger { background-position: 0 -250px; }
.icon_operative, .icon_commando { background-position: 0 -300px; }
.icon_sniper, .icon_vanguard { background-position: 0 -350px; }

.icon_juggernaught_veng, .icon_guardian_defense { background-position: 0 0; }
.icon_juggernaught_immort, .icon_guardian_vigilance { background-position: 0 -50px; }
.icon_maurader_annihilation, .icon_sentinel_watchman { background-position: 0 -100px; }
.icon_maurader_carnage, .icon_sentinel_combat { background-position: 0 -150px; }
.icon_assassin_deception, .icon_sage_seer { background-position: 0 -200px; }
.icon_assassin_darkness, .icon_sage_telekinetic { background-position: 0 -250px; }
.icon_sorceror_corruption, .icon_shadow_kinetic_combat { background-position: 0 -300px; }
.icon_sorceror_lightning, .icon_shadow_infiltration { background-position: 0 -350px; }
.icon_powertech_shield_tech, .icon_scoundrel_scrapper { background-position: 0 -400px; }
.icon_powertech_advanced_prototype, .icon_scoundrel_sawbones { background-position: 0 -450px; }
.icon_mercenary_arsenal, .icon_gunslinger_sharpshooter { background-position: 0 -500px; }
.icon_mercenary_bodyguard, .icon_gunslinger_sabeteur { background-position: 0 -550px; }
.icon_operative_concealment, .icon_commando_gunnery { background-position: 0 -600px; }
.icon_operative_medic, .icon_commando_combat_medic { background-position: 0 -650px; }
.icon_sniper_marksmanship, .icon_vanguard_shield_specialist { background-position: 0 -700px; }
.icon_sniper_engineering, .icon_vanguard_tactics { background-position: 0 -750px; }
